<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Social Network</a>
  {{#if user}}
  <a class="navbar-brand" href="/profile">Profile</a>
  {{else}}
  {{/if}}
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        {{#if user}}
        <a class="navbar-brand" href="/logout">Logout</i></a>
      </li>
      {{else}}
      {{/if}}
    </ul>
  </div>

  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}
  {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-0">
      <li class="nav-item active">
        <a class="navbar-brand mr-0" href="/about">About</a>
      </li>
</div> --}}
<li class="nav-item active">
        <a class="navbar-brand mr-0" href="/about">About</a>
      </li>
      <li class="nav-item active">
<a class="navbar-brand mr-0" href="https://github.com/kiranrameshs">Quasar</a>
</li>

       {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <li class="nav-item active">
        <a class="navbar-brand mr-0" href="https://github.com/kiranrameshs">Quasar</a>
      </li>
    </ul>
    </div> --}}
  
              
              
</nav>