#homepage{
    text-align: center;
}

#signup{
    text-align: center;
    text-justify: auto;
   
}
.btn-facebook {
    background-color: #4aa1f3;
    border-radius: 0%;
    border: 0%;
    color: #ffffff;
    width: auto;
}
.btn-facebook:link,
.btn-facebook :visited{
    text-decoration: none;
    background-color: #4aa1f3;
    color: #ffffff;
}
.btn-gplus{
    background-color: #e44b34;
    border-radius: 0%;
    border: 0%;
    color: #ffffff;
    width: auto;
}
.btn-gplus:link,
.btn-gplus:visited{
    text-decoration: none;
    background-color: #e44b34;
    color: #ffffff;
}
#main{
    margin-top: 60px;
    margin-bottom: 50px;
}
.col-sm-4{
    margin-bottom: 10px;
}
#address{
    color: green;
}
.post-user-pic{
    height: 100px;
    width: auto;
}
.status{
    color: green;
}
.orange{
    color: lightsalmon;
}
.commentUserImage{
    height: 65px;
    width: auto;
}
.red{
    color: red;
}